@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

:root {
    --cor-preta: #00000;
    --cor-branca: #ffffff;
    --cor-numero1: #181818;
    --cor-numero2: #ebdcc4;
    --cor-numero3: #e0ccac;
    --cor-numero4: #ebdcc450;
}

body {
    weight: 100vh;
    font-family: 'Prata', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-numero1);
    color: var(--cor-branca);
}

.background1 {
    background: url("../assets/background1.png") center / cover no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.corpo__inicio {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 90vh; 
    text-align: center; 
}

.foto__titulo {
    max-width: 50%;
}

.corpo__inicio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
}

.cabecalho {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.cabecalho__imagens {
    gap: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0 500px 0 0;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 12px 60px 20px rgba(0, 0, 0, 0.473);
}

.titulo__cabecalho {
    font-size: 3rem;
    font-weight: 400;
    color: var(--cor-branca);
}

.titulo__sm {
    font-family: "Montserrat", serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--cor-branca);
    margin: 0 100vh 0 0;
    padding: 1vh;
}

.p__sm {
    font-family: "Montserrat", serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-branca);
    margin: 0 30vh 0 30vh;
}

.sbt__trabalho {
    background-color: #18181846;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: var(--cor-branca);
}

.titulo__sbt {
    font-family: "Montserrat", serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cor-numero1);
    margin: 0 0 0 0;
    padding: 1vh;
}

.p__sbt__trabalhos {
    font-family: "Montserrat", serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cor-numero1);
    margin: 0 20vh 0 20vh;
}

.imagem__sbt {
    max-width: 40vh;
    height: auto;
}

.sbt__video {

}

.container__videos {
    margin: 1vh 10vh 0 10vh;
}

.container__sbt__videos1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.background__color1 {
    background: linear-gradient(45deg,#9c8f80 30%,#ebdcc4, #ffffff);
}

.desc__videos {
    font-family: "Montserrat", serif;
    font-size: 1.20rem;
    font-weight: 500;
    color: var(--cor-numero1);
    margin: 0 10vh 0 10vh;
    padding: 1vh;
    border: 4px solid transparent;
    border-radius: 20px;
}

.borda__iframe {
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
} 
